/**COLORS**/
$primary:#181818;
$second:#232323;
$third:#1dbcb4;
$light:#fff;
$greyLight:#fafafa;
$dark:#000;
$success: rgb(70, 197, 81);
$error: #d12020;
$info: #1dbcb4;
/**SIZE**/
$headerHeight:100px;
$notificationHeight:80px;